---
import ArtworkCard from "@components/ArtworkCard.astro";
import { API_URL } from "@const/consts";
import Layout from "@layouts/Layout.astro";
import type { IArtist } from "src/types/artist";
import type { ServiceResponse } from "src/types/serviceResponse";
import { dateToAge } from "src/utils/functions";
import type { IArtwork } from "../../types/artwork";

const param = Astro.params.artist;

const responseArtist = await fetch(
  `${API_URL}/artists/${param?.split("-")[2]}`
);
const { data: artist }: ServiceResponse<IArtist> = await responseArtist.json();
if (!artist) {
  return Astro.redirect("/404");
}
const responseArtworks = await fetch(
  `${API_URL}/artworks/artist/${artist.id}?limit=3`
);
const { data: artworks }: ServiceResponse<IArtwork[]> =
  await responseArtworks.json();
---

<Layout title="Galarte Web">
  <section
    class="absolute hidden md:flex w-fit h-fit top-3/4 md:top-1/2 md:left-[21rem] z-10"
  >
    <h1
      class="relative text-4xl md:text-9xl text-light tracking-widest top-[3px] md:top-2 z-20"
    >
      {`${artist?.name} ${artist?.lastname}`}
    </h1>
    <h1
      class="absolute text-4xl md:text-9xl text-secondary tracking-widest z-30"
    >
      {`${artist?.name} ${artist?.lastname}`}
    </h1>
  </section>
  <main
    class="flex flex-col md:grid md:grid-cols-[30%_1fr] md:grid-rows-[1fr_auto] overflow-y-auto"
  >
    <section class="flex justify-end h-full border-r">
      <img
        src={artist?.image}
        alt="Hovered Artist's Image"
        transition:name="artist-image"
        class="md:p-8 w-full aspect-square object-cover"
      />
    </section>
    <section class="grid md:grid-rows-[1fr]">
      <section class="grid md:grid-cols-[15%_1fr]">
        <section class="grid grid-cols-3 md:flex md:flex-col gap-4 p-4 md:p-8">
          <article
            class="flex flex-col items-center md:items-start uppercase text-lg"
          >
            <span class="font-semibold md:font-normal">nacionalidad</span>
            <span class="text-center md:text-left">{artist?.nationality}</span>
          </article>
          <article
            class="flex flex-col items-center md:items-start uppercase text-lg"
          >
            <span class="font-semibold md:font-normal">años</span>
            <span class="text-center md:text-left"
              >{dateToAge(artist?.dateOfBirth)}</span
            >
          </article>
          <article
            class="flex flex-col items-center md:items-start uppercase text-lg"
          >
            <span class="font-semibold md:font-normal">disciplina</span>
            <span class="text-center md:text-left">{artist?.technique}</span>
          </article>
        </section>
        <section class="md:hidden flex justify-center relative">
          <h1
            class="relative text-4xl md:text-9xl text-primary tracking-widest top-[3px] md:top-2"
          >
            {artist?.name}
          </h1>
          <h1
            class="absolute text-4xl md:text-9xl text-secondary tracking-widest"
          >
            {artist?.name}
          </h1>
        </section>
        <p
          id="biography"
          class="px-4 md:px-0 pt-8 w-full md:pr-16 text-justify text-xl leading-8 md:max-h-[30rem] md:overflow-y-auto"
        >
          {artist?.biography}
        </p>
      </section>
      <section
        class="flex flex-col h-fit md:grid md:grid-flow-col overflow-x-auto border-t"
      >
        {
          artworks.map((artwork) => (
            <ArtworkCard
              artistName={`${artist.name} ${artist.lastname}`}
              artwork={artwork}
            />
          ))
        }
      </section>
    </section>
  </main>
</Layout>

<style>
  #biography {
    font-family: "BankPrinter", sans-serif;
    scrollbar-width: thin;
  }
</style>
