---
import Button from "@components/Button.astro";
import Footer from "@components/Footer.astro";
import { ARTISTS } from "@const/artists";
import Layout from "@layouts/Layout.astro";

const { artist } = Astro.params;

const artistInfo = ARTISTS.find((a) => a.id === artist);
---

<Layout title="Galarte Web">
  <section
    class="absolute hidden md:flex w-fit h-fit top-3/4 md:top-1/2 md:left-[21rem]"
  >
    <h1
      class="relative text-4xl md:text-9xl text-primary tracking-widest top-[3px] md:top-2"
    >
      {artistInfo?.name}
    </h1>
    <h1 class="absolute text-4xl md:text-9xl text-secondary tracking-widest">
      {artistInfo?.name}
    </h1>
  </section>
  <main
    class="flex flex-col md:grid md:grid-cols-[30%_1fr] md:grid-rows-[1fr_auto] h-screen overflow-y-auto"
  >
    <section class="flex justify-end h-full border-r">
      <img
        src=`/images/${artistInfo?.image}`
        alt="Hovered Artist's Image"
        class="md:p-8 w-full"
      />
    </section>
    <section class="grid md:grid-rows-[1fr_35%]">
      <section class="grid md:grid-cols-[15%_1fr]">
        <section class="grid grid-cols-3 md:flex md:flex-col gap-4 p-4 md:p-8">
          <article
            class="flex flex-col items-center md:items-start uppercase text-lg"
          >
            <span class="font-semibold md:font-normal">nacionalidad</span>
            <span class="text-center md:text-left"
              >{artistInfo?.nationality}</span
            >
          </article>
          <article
            class="flex flex-col items-center md:items-start uppercase text-lg"
          >
            <span class="font-semibold md:font-normal">a침os</span>
            <span class="text-center md:text-left">{artistInfo?.age}</span>
          </article>
          <article
            class="flex flex-col items-center md:items-start uppercase text-lg"
          >
            <span class="font-semibold md:font-normal">disciplina</span>
            <span class="text-center md:text-left"
              >{artistInfo?.discipline}</span
            >
          </article>
        </section>
        <section class="md:hidden flex justify-center relative">
          <h1
            class="relative text-4xl md:text-9xl text-primary tracking-widest top-[3px] md:top-2"
          >
            {artistInfo?.name}
          </h1>
          <h1
            class="absolute text-4xl md:text-9xl text-secondary tracking-widest"
          >
            {artistInfo?.name}
          </h1>
        </section>
        <p
          set:html={artistInfo?.biography}
          class="px-4 md:px-0 pt-8 w-full md:w-2/3 text-justify text-xl leading-8"
        />
      </section>
      <section class="flex flex-col md:flex-row border-t">
        <article class="grid grid-cols-2 p-4 overflow-y-hidden">
          <img
            src="/images/ornella_pocetti_1.jpg"
            alt=`Obra de ${artistInfo?.name}`
            height="100%"
            object-fit="cover"
          />
          <section
            class="relative grid place-items-center uppercase text-md tracking-widest"
          >
            <span>Paloma-rec-bd</span>
            <Button
              id="see-more"
              text="Ver m치s"
              className="absolute bottom-2 right-8"
            />
          </section>
        </article>
        <article class="grid grid-cols-2 p-4 overflow-y-hidden">
          <img
            src="/images/ornella_pocetti_1.jpg"
            alt=`Obra de ${artistInfo?.name}`
            height="100%"
            aspect-ratio="16/9"
            object-fit="cover"
          />
          <section
            class="relative grid place-items-center uppercase text-md tracking-widest"
          >
            <span>Paloma-rec-bd</span>
            <Button text="Ver m치s" className="absolute bottom-2 right-8" />
          </section>
        </article>
        <article class="grid grid-cols-2 p-4 overflow-y-hidden">
          <img
            src="/images/ornella_pocetti_1.jpg"
            alt=`Obra de ${artistInfo?.name}`
            height="100%"
            aspect-ratio="16/9"
            object-fit="cover"
          />
          <section
            class="relative grid place-items-center uppercase text-md tracking-widest"
          >
            <span>Paloma-rec-bd</span>
            <Button text="Ver m치s" className="absolute bottom-2 right-8" />
          </section>
        </article>
      </section>
    </section>
    <Footer className="col-span-full" />
  </main>
</Layout>

<style>
  p {
    font-family: "BankPrinter", sans-serif;
  }
</style>

<script>
  document.querySelector("#see-more")?.addEventListener("click", () => {
    window.location.href = "/shop/1";
  });
</script>
