---
import Button from "@components/Button.astro";
import { API_URL } from "@const/consts";
import Layout from "@layouts/Layout.astro";
import type { IArtist } from "../../types/artist";
import type { IArtwork } from "../../types/artwork";
import type { ServiceResponse } from "../../types/serviceResponse";

const { item } = Astro.params;

const responseArtwork = await fetch(`${API_URL}/artworks/${item}`);
const { data: itemInfo }: ServiceResponse<IArtwork> =
  await responseArtwork.json();

if (!itemInfo) {
  return Astro.redirect("/404");
}
const responseArtist = await fetch(`${API_URL}/artists/${itemInfo.artistId}`);
const { data: artist }: ServiceResponse<IArtist> = await responseArtist.json();
---

<Layout title={`${itemInfo.name}`}>
  <section class="flex flex-col w-full overflow-y-auto">
    <section
      class="grid md:grid-cols-2 grid-rows-[1fr_auto] h-full place-items-center overflow-y-auto"
    >
      <section class="grid place-items-center w-full h-full relative">
        <a
          href="javascript:history.back()"
          class="hover:scale-105 absolute text-6xl top-0 left-5 hidden md:block"
          >{"<"}</a
        >
        <img
          src={itemInfo.image}
          alt="artist"
          class="w-full md:w-9/12 md:my-4 relative column-span-1 row-span-1 aspect-square object-contain"
          style={`view-transition-name: item-${itemInfo.id}`}
        />
      </section>
      <article
        class="flex flex-col justify-start border-l border-primary w-full h-full py-8 px-4"
      >
        <div>
          <section class="flex flex-col w-full items-start">
            <h2 class="text-4xl font-bold text-center uppercase">
              {itemInfo.name}
            </h2>
            <small class="text-lg text-center uppercase"
              >{artist.name} {artist.lastname}</small
            >
          </section>
          <h1 class="text-start text-5xl mt-8 text-secondary font-bold">
            U$D {itemInfo.price.toFixed(2)}
          </h1>
          <small class="uppercase mt-4">Pagá en 3 y 6 cuotas sin interés</small>
          <section class="flex flex-col">
            <div class="flex w-full md:w-2/5 justify-between mt-6">
              <section class="flex h-8 w-fit justify-start">
                {itemInfo.isUnique === 0 ? <button
                  class="h-full px-3 py-1 bg-primary text-light text-balance"
                  >-</button
                >
                <span
                  class="h-full border-y border-primary px-3 py-1 text-balance"
                  >1</span
                >
                <button class="px-3 py-1 bg-primary text-light text-balance"
                  >+</button
                > : <span class="h-full text-balance text-lg">Obra Única</span>}
              </section>
              <Button text="quiero comprar" id="buy-button" />
            </div>
            <div class="flex w-full md:w-2/5 mt-2 justify-end">
              <button class="invisible underline">Ver carrito</button>
            </div>
          </section>
        </div>
        <section class="grid md:grid-cols-[20%_1fr] mt-4 md:mt-16">
          <section class="h-full w-full">
            <ul
              class="grid grid-cols-3 md:flex md:flex-col gap-y-4 uppercase text-sm"
            >
              <li class="flex flex-col">
                <span>Técnica:</span>
                <span>{itemInfo.technique}</span>
              </li>
              <li class="flex flex-col">
                <span>Dimensiones:</span>
                <span
                  >{itemInfo.height} x {itemInfo.width}
                  {`${itemInfo.length ? "x " + itemInfo.length : ""}`} cm</span
                >
              </li>
              <li class="flex flex-col">
                <span>Año:</span>
                <span>{itemInfo.year}</span>
              </li>
              <li class="flex flex-col">
                <span>Edición:</span>
                <span>{itemInfo.serialNumber}</span>
              </li>
              <li class="flex flex-col">
                <span>Firma:</span>
                <span>{itemInfo.code}</span>
              </li>
              <li class="flex flex-col">
                <span>Enmarcado:</span>
                <span>{itemInfo.framed ? "Marco incluido" : "Marco no incluido"}</span>
              </li>
            </ul>
          </section>
          <section>
            <h4 class="uppercase text-md font-semibold mt-4 md:mt-0">
              Acerca del artista:
            </h4>
            <p
              id="about-author"
              class="text-justify w-full md:w-5/6 tracking-wide leading-relaxed md:max-h-80 md:overflow-y-auto"
            >
              {artist.biography}
            </p>
          </section>
        </section>
      </article>
    </section>
  </section>
</Layout>

<style>
  #about-author {
    font-family: "BankPrinter", sans-serif !important;
    scrollbar-width: thin;
  }
</style>

<script>
  import { WHATSAPP_NUMBER } from "@const/consts";

  const buyButton = document.getElementById("buy-button");

  buyButton?.addEventListener("click", () => {
    window.open(`https://wa.me/${WHATSAPP_NUMBER}`, "_blank", "noopener");
  });
</script>
