---
import ArtistCard from "@components/ArtistCard.astro";
import { ABOUT_US, ABOUT_US_MOBILE } from "@const/about-us";
import { API_URL } from "@const/consts";
import Layout from "@layouts/Layout.astro";
import type { IArtist } from "../types/artist";
import type { ServiceResponse } from "../types/serviceResponse";

const responseArtist = await fetch(`${API_URL}/artists?limit=4`);

const { data: artists }: ServiceResponse<IArtist[]> =
  await responseArtist.json();

if (!artists) return Astro.redirect("/404");
---

<Layout title="Galarte Web">
  <main
    class="flex flex-col md:grid md:grid-rows-[1fr_auto] md:place-items-center w-full overflow-y-auto"
  >
    <h4 class="w-full md:w-1/2 p-6 md:p-0 text-3xl font-bold">
      ¿Quiénes somos?
    </h4>
    {
      ABOUT_US_MOBILE.map((block) => (
        <p
          class="w-full px-6 pb-2 text-justify md:hidden"
          id={`paragraph-${block.id}`}
        >
          {block.paragraph}
        </p>
      ))
    }
    {
      ABOUT_US.map((block) => (
        <p
          class="hidden md:block w-1/2 text-justify pb-2"
          id={`paragraph-${block.id}`}
        >
          {block.paragraph}
        </p>
      ))
    }
    <section
      class="w-full p-6 pt-0 md:px-0 md:py-0 grid gap-y-4 md:gap-0 md:grid-cols-4"
    >
      {
        artists.map((artist, i) => {
          return (
            <ArtistCard
              imageUrl={artist.image}
              artistName={artist.name}
              artistLastname={artist.lastname}
              artistInfo={artist.biography}
              artistId={artist.id}
            />
          );
        })
      }
    </section>
  </main>
</Layout>
